body {
    font-family: Arial, sans-serif;
    background-color: #d2b48c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 30px;
    max-width: 600px;
    width: 90%;
}

h1 {
    color: #333;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-right: 20px;
}


.guess-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.guess {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 5px;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.guess:focus {
    border-color: #007bff;
    outline: none;
}

.feedback-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 110px;
    justify-content: center;
}

.feedback {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
}

.restart-btn {
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 36px;
    padding: 10px;
    cursor: pointer;
}

.question-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    padding: 10px;
    cursor: pointer;
}

.home-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 36px;
    padding: 10px;
    cursor: pointer;
}


.guess:disabled {
    background-color: white;
}

.feedback-button {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}


.feedback-button button {
    background-color: #8B4513;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feedback-button button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.close-feedback {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-feedback:hover,
.close-feedback:focus {
    color: #333;
    text-decoration: none;
}